* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background:
        linear-gradient(to top, black, transparent 30%),
        linear-gradient(to bottom, black, transparent 30%),
        linear-gradient(to right, black, transparent 30%),
        linear-gradient(to left, black, transparent 30%),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
        url('../assets/img/vs.webp');
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white);
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.top h2 {
    font-size: 100px;
    font-weight: 450;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.content {
    padding: 20px 100px;
    min-height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3rem;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

.card {
    border: 1px solid var(--color-dark);
    width: 100%;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: var(--color-white);

    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-content p {
    color: var(--color-gray);
}

.card-guard .card-content {
    align-items: flex-end;
}

.card-player .card-content {
    align-items: flex-start;
}

.btn {
    width: fit-content;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 450;
    color: var(--color-white);
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.card-player .btn {
    align-self: flex-start;
    background-color: var(--color-green);
}

.card-guard .btn:hover {
    box-shadow: 0 0 30px var(--color-primary);
}

.card-player .btn:hover {
    box-shadow: 0 0 30px var(--color-green);
}

.card-guard .btn {
    align-self: flex-end;
    background-color: var(--color-primary);
}

.card h2 {
    font-size: 50px;
    font-weight: 450;
}

.card p {
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
}

.card-guard {
    align-self: flex-end;
    text-align: right;
    background:
        linear-gradient(to top left, rgba(190, 190, 190, 0.2), transparent 20%),
        linear-gradient(to top left, black 20%, transparent 90%),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
        url('../assets/img/guard.webp');
    background-size: cover;
    background-position: center;
}

.card-player {
    background:
        linear-gradient(to top right, rgba(190, 190, 190, 0.2), transparent 20%),
        linear-gradient(to top right, black 20%, transparent 90%),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
        url('../assets/img/player.webp');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .content {
        padding: 20px 50px;
    }

    .top h2 {
        font-size: 80px;
    }

    .card {
        height: 600px;
    }

    .card h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 20px 30px;
    }

    .top p {
        text-align: center;
    }

    .top h2 {
        font-size: 60px;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .top {
        height: 150px;
    }

    .top p {
        font-size: 14px;
    }

    .top h2 {
        font-size: 40px;
    }

    .card {
        height: 500px;
        padding: 20px;
    }

    .card h2 {
        font-size: 30px;
    }

    .card p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}