/* Navbar Styles */
.navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: 30px;
    width: fit-content;
}

.navbar-content a {
    text-decoration: none;
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbar-content a.active {
    background-color: var(--color-white);
    color: var(--color-dark);
}

/* Navigation Styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
        width: 100%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: block;
        z-index: 1001;
        /* Ensure above overlay */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        width: 100%;
        height: 100%;
        /* Full screen vertical */
        text-align: center;
        transition: 0.3s;
        padding-top: 100px;
        /* Space for X icon */
        z-index: 1000;
        display: flex !important;
        /* Override display:none */
        justify-content: flex-start;
        align-items: center;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        margin: 16px 0;
    }

    .btn-auth {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .btn-login,
    .btn-register {
        display: block;
        width: 200px;
        text-align: center;
        margin: 5px 0;
    }
}